fastapi==0.115.0
uvicorn[standard]==0.30.6
langgraph==0.2.34
langchain==0.3.1
langchain-groq==0.2.1
langchain-ollama==0.2.0
chromadb==0.5.5
langchain-chroma==0.1.4
pydantic==2.9.2
python-dotenv==1.0.1
sqlite-utils==3.37
